*{
    box-sizing: border-box;
}
body
{
    background-color:white ;
    margin: 0px;
    padding: 0px;
   
    font-family: 'Open Sans', sans-serif;
}
#wrapper
{
    width: 100%;
    
}
#header
{
    width: 100%;
    
    padding: 40px 0;
}
#logo
{
    width: 99%;
    border: 1px solid #133377;
    color: rgb(114, 191, 226);
    background-color:#f1f1f1;
    margin-left: auto;
    margin-right: auto;
    font-size:60px;
    font-weight: bold;
    border-radius: 15px;
    
    
}
#logo > img{
    float: right;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
     -ms-transition: all 0.5s ease;
         transition: all 0.5s ease;



}
.banner{
    padding: 0 6px;
    float: left;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;






}
#logo > img:hover{
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
      -o-transform: rotate(-10deg);
     -ms-transform: rotate(-10deg);
         transform: rotate(-10deg);
}

.photo
{
    width: 100%;
    height: 180px;
    display: flex;
    border: 1px solid  rgb(114, 191, 226);;
    border-radius:15px;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
     -ms-transition: all 0.5s ease;
         transition: all 0.5s ease;
}
.photo img {border-radius: 2px 2px 2px 2px;}
.photo:hover
{
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
      -o-transform: rotate(-10deg);
     -ms-transform: rotate(-10deg);
         transform: rotate(-10deg);


}
#dbamy{
    font-size: 30px;
    color: black;
    text-align: center;
}
#nav
{
    width: 100%;
    height: 50px;
}

#nav ol > li 
{
    float: left;
    width: 19.9%;
    height: 40px;
    border: 1px solid #133377;
    background-origin: padding-box;
    background-color: rgb(114, 191, 226);
    text-align: center;
    border-radius: 15px;
    margin-top: 3px;
}
#nav ol a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight:bold;
    margin-top: 3px;
}
#nav ol {
    padding: 0;
    margin: 0;
    font-size: 18px;
    height: 52px;
    width: 100%;
    display: inline-block;
    list-style-type: none;
}



@media (max-width: 1100px) and (min-width: 1000px) 
{
#wrapper {width:100%;}
#text {width:100%;}
#nav ol { width: 100%;}
#nav ol > li{ width: 19.89% ; display:inline-block}
.photo img {width: 100%;display:block;height: 100%;}
#dbamy {margin-left: auto; margin-right: auto;display: block;text-align: center;}
.banner{width: 20%;}
}
@media (max-width: 1000px) and (min-width: 800px) 
{
#wrapper {width:100%;}
#nav ol { width: 100%;}
#nav ol > li{ width: 19.86% ; display:inline-block}
#dbamy {margin-left: auto; margin-right: auto;display: block;text-align: center;}
.photo img {width: 100%;display:block;height: 100%;}
.banner{width: 26%;margin-left: 50px;}
}
    
@media (max-width: 800px) and (min-width: 500px) 
{
#wrapper {width:100%}
.banner{margin-left: auto;margin-right: auto; display: flex;
    flex: 50%;overflow: hidden;}
#nav ol { width: 100%;}
#nav ol > li{ width: 19.76% ; display:inline-block}
#dbamy {margin-left: auto; margin-right: auto;display: block;text-align: center;}
.banner{width: 50%;margin-left: 30px;}
.banner{ display: flex; flex-direction: column;width: 100%;}
.photo{width: 100%;display: flex;justify-content: center;}
.banner{width: 100%; margin: 6px 0;}

}
    
@media (max-width: 500px) 
{
#wrapper {width:100%;}
#nav {float: left;height: 200px;}
#nav ol { width: 100%;}
#nav ol > li{ width: 100% ; display:block;}
#logo img {margin-left: auto; margin-right: auto; display: block;}
#dbamy {margin-left: auto; margin-right: auto;display: block;text-align: center;}
.banner{ display: flex; flex-direction: column;width: 100%;}
.photo{width: 100%;display: flex;justify-content: center;}
.banner{width: 100%; margin: 6px 0;}
.zdj{width: 100%;}
#tekst{width:100% !important; font-size: 20px;}
#tekst1{width: 100%; margin-top: 300px;}

}




#tekst
{
    
    margin-top: 30px;
    width: 80%;
    height:auto;
    background-color:#f1f1f1;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    text-align: center;
    transition-duration:3s;
    transition: transform 0.8s ease-in-out;
    
   
    
}
#tekst:hover{
    transform: scale(0.9);




}

#tekst1
{
    width: auto;
    margin-top: 10px;
    height: auto;
    background-color: #f1f1f1;
    font-size: 20px;
    text-align: center;
    border-radius:5%;
    box-shadow: 0 0 3px 2px black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.8s ease-in-out;
    
   
    
}
#tekst1:hover{
    transform: scale(0.9);




}
  





#tekst img{

    margin: 0px;
    -webkit-transition: margin 1s ease;
       -moz-transition: margin 1s ease;
         -o-transition: margin 1s ease;
        -ms-transition: margin 1s ease;
            transition: margin 1s ease;
}
#tekst img:hover {
    margin-left: -200px;
  }


#imie
{
    font-size: 30px;
    margin-top: 20px;
}

